<div class="innovative-card">
    <div class="card-image">
        <img src="assets/images/Imagen02.jpg" alt="Comercial">
    </div>
    <div class="card-content">
        <h2>Area sistemas de gestión</h2>
        <p>Relevamiento y diagnóstico de la performance de los sistemas existentes</p>
        <p>Proyectos de desarrollo de sistemas integrados de Gestión (ERP)</p>
        <p>Desarrollo de Módulos específicos:</p>
        <p class="1">Planificación Comercial y control</p>
        <p class="1">Planif. de Fábrica (Mod / Gastos y su control)</p>
        <p class="1">Planificación de compras y stocks</p>
        <p class="1">Diseño e implementación de sistemas orientados a la toma de decisiones : Indicadores de gestión /
            Bases de datos relacionales / Esquema de Cubos / Tablas dinámicas.</p>
        <p class="1">Armado de Tableros de comando (gerencial y de jefaturas): fijación de objetivos, políticas,
            programas, identificación de indicadores, seguimiento, medición, semaforización</p>
        <p>The Balanced Scorecard, con su filofía, visiones, etapas y posible sistematización en planillas excel o
            sistema integrado a la plataforma de la organización.</p>
    </div>
</div>