<div class="innovative-card">
    <div class="card-image">
        <img src="assets/images/Imagen5.jpg" alt="Comercial">
    </div>
    <div class="card-content">
        <h2>Area Administracion</h2>
        <p>Registro contable y de gestión</p>
        <p>Presupuesto Integral</p>
        <p>Control Presupuestario de Gastos</p>
        <p>Estructura de Costos. (real / estimado / estándar)</p>
        <p>Rentabilidad por línea de producto.</p>
        <p>Normativas y circuitos administrativos.</p>
        <p>Cash Flow</p>
        <p>Proyecciones para Bancos.</p>
        <p>Proyectos de Inversión.</p>
    </div>
</div>

