<div class="innovative-card">
    <div class="card-image">
        <img src="assets/images/Imagen7.jpg" alt="Comercial">
    </div>
    <div class="card-content">
        <h2>Area Logistica/Despacho</h2>
        <p>Costo de la distribución:</p>
        <p class="1">Por linea</p>
        <p class="1">Por zona</p>
        <p class="1">Por tipo de cliente</p>
        <p>Análisis de tercerización</p>
        <p>Inventarios:</p>
        <p class="1">Especiales</p>
        <p class="1">Control permanente</p>
        <p>Políticas de stocks:</p>
        <p class="1">Punto de pedido</p>
        <p class="1">Cobertura en meses de venta</p>
    </div>
</div>
