<div class="innovative-card">
    <div class="card-image">
        <img src="assets/images/areaComercial.jpg" alt="Comercial">
    </div>
    <div class="card-content">
        <h2>Area Comercial</h2>
        <p>Definición de la Oferta Empresa.
            Identificación del Cliente Objetivo.
            Armado de Canales de comercialización.
            Planificación y control de la fuerza de ventas
            Plan y Presupuesto Comercial : Unidades / Precios / Por Línea / Por Zona etc.
            Modelos a implementar, representación, distribución, franquicia.
            </p>
    </div>
</div>

