<!--
<div class="card">
    <h2 class="card-title">¿Qué servicios ofrecemos?</h2>
    <img src="assets/images/servicios1.jpg" alt="Imagen de Ejemplo" class="card-image">
    <div class="card-content">
        <div class="text-column">
            <p>Partimos de un enfoque global, única manera de comprender el negocio, a partir de esto identificamos las
                Actividades Críticas (generadoras de costos y resultados), concretando luego los análisis que permitan
                diagnosticar : Puntos Débiles y posibilidades de mejora.</p>
        </div>
        <div class="text-column">
            <p>Es así que : Consultoría Integral – Tercerización de Servicios – Proyectos de Inversión – Reingeniería de
                Operaciones – Presupuesto y Control de Gastos, Tablero de Comando, son algunos de los servicios posibles
            </p>
        </div>
    </div>
</div>
-->

<div class="container">
    <img src="assets/images/servicios1.jpg" alt="Imagen Vertical" class="vertical-image">
    <div class="text-content">
        <h2 class="titulo">¿Qué servicios ofrecemos?</h2>
        <p class="subtitulo">
            Partimos de un enfoque global, única manera de comprender el negocio, a partir de esto identificamos las
            Actividades Críticas (generadoras de costos y resultados), concretando luego los análisis que permitan
            diagnosticar : Puntos Débiles y posibilidades de mejora.
        </p>
        <p class="subtitulo">
            Es así que : Consultoría Integral – Tercerización de Servicios – Proyectos de Inversión – Reingeniería de
            Operaciones – Presupuesto y Control de Gastos, Tablero de Comando, son algunos de los servicios posibles.
        </p>
    </div>
</div>