<div class="innovative-card">
    <div class="card-image">
        <img src="assets/images/Imagen6.jpg" alt="Comercial">
    </div>
    <div class="card-content">
        <h2>Area Producción</h2>
        <p>Presupuesto de fábrica:</p>
        <p class="1">Materias</p>
        <p class="1">MOD</p>
        <p class="1">CIF</p>
        <p>Planificación de la Producción</p>
        <p>Control de la producción:</p>
        <p class="1">Rendimiento</p>
        <p class="1">Eficiencia</p>
        <p class="1">Análisis de desvíos</p>
        <p>Premios a la producción </p>
        <p>Análisis de productividad general y por factor</p>
        <p>Control de desperdicios</p>
    </div>
</div>