<div class="container">
    <img src="../assets/images/somosVertical.jpg" alt="Imagen Vertical" class="vertical-image">
    <div class="text-content">
        <h2 class="titulo">¿Quienes somos?</h2>
        <p class="subtitulo">
            Somos un equipo de profesionales con sólida experiencia en el ámbito empresarial, lo que nos permite
            comprender a fondo sus necesidades y ofrecer un enfoque adaptado a cada situación específica.
        </p>
        <p class="subtitulo">
            Entendemos que cada negocio es único, configurado por sus directivos, empleados, sistemas de trabajo y el
            entorno en el que opera. Por ello, no ofrecemos "soluciones mágicas" ni "recetas ideales". En lugar de eso,
            nos dedicamos a analizar detenidamente la esencia de su organización y a proporcionar soluciones prácticas y
            viables que se ajusten a su realidad.

        </p>
    </div>
</div>