<main>
    <section class="carousel">
        <div class="carousel-images">
            <div class="carousel-slide">
                <img src="assets/images/Imagen03.jpg" style="display: block;" alt="Imagen 1">
            </div>
            <div class="overlay-text">Nuestro objetivo es brindar un servicio que le permita mejorar su gestión y
                sus resultados
                Es lograr una relación perdurable. Es generar, como en otros ámbitos de la vida, una relación de
                Socios, donde los beneficios puedan ser mutuos
            </div>
            <div class="carousel-slide">
                <img src="assets/images/Imagen01.jpg" style="display: none;" alt="Imagen 2">
            </div>
            <div class="carousel-slide">
                <img src="assets/images/Imagen02.jpg" style="display: none;" alt="Imagen 3">
            </div>
        </div>
        <div class="carousel-buttons">
            <button class="prev" (click)="prev()">❮</button>
            <button class="next" (click)="next()">❯</button>
        </div>
    </section>

    <div class="recuadro">
        <p class="textoRecuadro">Somos profesionales con experiencia empresarial concreta que nos permite conocer sus
            necesidades.
        </p>
    </div>

    <section class="services">
        <div class="service-items">
            <div class="service-item">
                <img src="assets/images/icono4.png" style="width: 50px;" alt="Logo Empresa" class="icono-img">
                <h3 class="tit1">Quiénes Somos</h3>
                <p class="subitulo">Conoce más sobre nuestra empresa.</p>
                <button (click)="redirectTo('/quienes-somos')" class="mi-boton">Ver Más</button>
            </div>
            <div class="service-item">
                <img src="assets/images/icono5.png" style="width: 50px;" alt="Logo Empresa" class="icono-img">
                <h3 class="tit1">Servicios</h3>
                <p class="subitulo">Descubre nuestros servicios profesionales.</p>
                <button (click)="redirectTo('/servicios')" class="mi-boton">Ver Más</button>
            </div>
            <div class="service-item">
                <img src="assets/images/icono6.png" style="width: 50px;" alt="Logo Empresa" class="icono-img">
                <h3 class="tit1">Contacto</h3>
                <p class="subitulo">Estamos aquí para ayudarte.</p>
                <button class="mi-boton">Ver Más</button>
            </div>
        </div>
    </section>
</main>