<div class="innovative-card">
    <div class="card-image">
        <img src="assets/images/Imagen8.jpg" alt="Comercial">
    </div>
    <div class="card-content">
        <h2>Area Abastecimiento/Compras</h2>
        <p>Bases de datos sobre materiales (codificación, agrupamientos), depositios, proveedores, lotes, lead time, categoría Pareto</p>
        <p>Valorización criterios reposición y estandard</p>
        <p>Políticas de abastecimiento, uso de cálculos de necesidades por demanda o estimación de programas, coberturas deseadas</p>
        <p>Armado de programas para la modelización y caculo de necesidades</p>
        <p>Herramientas para la carga y seguimiento de pedidos, ordenes, recepciones, activamiento</p>
    </div>
</div>